<p>
<strong>Name: </strong>
<%= @indicator.name %>
</p>
<%= render "shared/indicator_plot" %>
<p>
<strong>URI: </strong>
<%= @indicator.uri %>
</p>
<% @indicator.datapoints.order(day: :desc).each { |dp| %>
<%= dp.day %>:<%= dp.value %><br>
<% } %>
